#map {
    border-radius: 4px;
    background: #58B;
}


.sucursal {
    position: absolute;
    left: 5%;
    min-width: 25%;
    max-width: 25%;
    min-height: 35%;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
}

.int {
    padding: 20px;
}

.infoTurnoAtendido {
    position: absolute;
    left: 38%;
    min-width: 25%;
    max-width: 25%;
    min-height: 35%;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.infoTurnoAtendido2 {
    background-color: white;
    background: rgba(250, 250, 250, 0.7);
    border-radius: 10px;
    display: table-cell; 
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 8px;
    margin-top: 16px;
    height: 40px;
    max-height: 60px;
    width: 100%;
}


.pedirTurno {
    position: absolute;
    left: 70%;
    min-width: 25%;
    max-width: 25%;
    min-height: 35%;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

#background {
    position: absolute;
    max-height: 94%;
    min-height: 94%;
    max-width: 100%;
    min-width: 100%;
    left: 0%;
}


.menuIndex {
    border-radius: 0px;
    max-width: 100%;
    margin-bottom: 0px;
    left:0%;
}

.nombreNavBar {
    color:#bc6c15;
}

.turno {
    font-family: 'Segment7';
    font-weight: normal;
    font-style: italic;
    font-size: 100px;
    height:100px;
    padding: 0px;
    color: red;
}

.codigoColores {
    min-width: 260px;
    max-width: 260px;
    position:relative;
    right:6%;
    bottom:42%;
    border-radius: 10px;
    left:36%;
    top:-155px;
}

.btbPedirTurno {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #d93434;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    opacity:1;
}

.btbPedirTurno:hover {
    background: #fc3c3c;
    text-decoration: none;
    opacity:1;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  width:164px;
}

.btn:hover {
  background: #57bfff;
  background-image: -webkit-linear-gradient(top, #57bfff, #0e8fe6);
  background-image: -moz-linear-gradient(top, #57bfff, #0e8fe6);
  background-image: -ms-linear-gradient(top, #57bfff, #0e8fe6);
  background-image: -o-linear-gradient(top, #57bfff, #0e8fe6);
  background-image: linear-gradient(to bottom, #57bfff, #0e8fe6);
  text-decoration: none;
}
.panelInterno{
    background-color:#13743F;
    background: rgba(250, 250, 250, 0.7);
    padding: 10px;
}

