<script type="text/template" id="entidadList">
    <div id ="paso2" class="infoTurnoAtendido2" style="height: 654px; vertical-align: top">
        <h1><font color = "red">Paso 2: </font><font color = "black">escoje la hora</font> </h1>
            <p><b>Informonación de la sucursal</b>
            <div class = "panelInterno" style="float:left;widht:50%">
                <div class = "informacionSucursal" style = "width: 212px">
                <p>SIM Cedritos
                <p>Calle 147 #19-66 L31
                <p>Lunes-Viernes: 7:00am-6:00pm
                <p>Sábado: 8:00am-1:00pm
                </div> 
            </div>
            <div class = "panelInterno" style="float:right;widht:50%">
                Turno Actual:
                <div class="turno" id="turnoAtendido" style="width: 106px">20</div>
            </div>
            <p><p><p><b>Siguiente turno disponible:</b>
            <div class = "panelInterno">
                <botton class="btn" style ="width: 340px" href>Ver siguiente turno disponible</botton>
            </div>
            <p><p><p><b>Reserva un turno a la hora que quieras</b>
            <div class = "panelInterno" style="float:left;widht:50%">
                <p><b>En la mañana:</b>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:7}); return false">7:00 am</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:8}); return false">8:00 am</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:9}); return false">9:00 am</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:10}); return false">10:00 am</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:11}); return false">11:00 am</botton>
            </div>
            <div class = "panelInterno" style="float:left;widht:50%">
                <p><b>En la tarde:</b> 
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:12}); return false">12:00 m</botton>  
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:13}); return false">1:00 pm</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:14}); return false">2:00 pm</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:15}); return false">3:00 pm</botton>
                <p><botton class="btn" onclick="Backbone.trigger('<%= componentId %>select',{id:16}); return false">4:00 pm</botton>
            </div>
    
    </div>

</script>

<script type="text/template" id="entidad">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-entidadForm">
    <% if(entidad.id) {%>
    <input type="hidden" name="id" value="<%= entidad.id %>"/>
    <% }%>
    <div class="form-group" >
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= entidad.get('name') %>"/>	
    </div>
    <div class="form-group" >
    <label for="tipo">Tipo</label>
    <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Enter value" value="<%= entidad.get('tipo') %>"/>	
    </div>
    </form>
    </div>
</script> 